@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

* {
  font-family: "Martian Mono", monospace;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  height: 100vh;
}

div { user-select: none; }

/* === BARRALATERALLLL === */
#sidebar {
  user-select: none;
  width: 220px;
  background-color: #1e1e2f;
  color: white;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
  overflow: hidden;
}

#sidebar.collapsed {
  width: 60px;
}

#toggle-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  text-align: left;
  font-size: 18px;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  cursor: pointer;
  transition: background 0.2s;
}

#sidebar li:hover {
  background-color: #2f2f47;
}

#sidebar li i {
  width: 20px;
  height: 20px;
}

#sidebar.collapsed li span {
  display: none;
}

/* === MAIN === */
main {
  flex: 1;
  background: #0f0e0c;
  color: white;
  padding: 0 20px;
  overflow-y: auto;
}

.activity_panel {
  display: none;
}

.activity_panel.active {
  display: block;
}


/* === ORDENES ACTIVAS === */
.order_list {
  padding: 0;
  list-style-type: none;
}

.order_list li {
  display: flex;
  gap: 10px;
  padding: 8px;
  border-top: 1px solid #ddd;
  align-items: center;
  font-size: 40px;
}

.order_number {
  padding: 10px 20px;
  border-radius: 40px;
  background: #2f2f47;
  font-size: 30px;
}

/* TIPOS DE PRODUCTO */
.order_product_type {
  padding: 10px 20px;
  border-radius: 40px;
  background: #2f2f47;
}

.order_product_type.sushi { background-color: #e74c3c; }
.order_product_type.handroll { background-color: #9b59b6; }
.order_product_type.sushiburger { background-color: #f39c12; }
.order_product_type.completo { background-color: #27ae60; }
.order_product_type.lomo { background-color: #2980b9; }
.order_product_type.churrasco { background-color: #c0392b; }

.order_product_category {
  padding: 10px 20px;
  border-radius: 40px;
  background: #2f2f47;
}

/* ANOTACIONES EXTRA */
.order_product_extra {
  padding: 10px 20px;
  border-radius: 40px;
  background: #2f2f47;
}

.order_product_extra.no_mayo { background-color: #e74c3c; }
.order_product_extra.no_queso { background-color: #e74c3c; }
.order_product_extra.no_nori { background-color: #e74c3c; }
.order_product_extra.mayo_casera { background-color: #f39c12; }

.order_list li .order_wait_time {
  margin-left: auto;
  font-size: 22px;
}


/* INGRESAR PEDIDO */
#add_order_container {
  display: flex;
}

#summary_order_panel {
  display: flex;
  flex-direction: column;
  border: 3px solid #27ae60 ;
  border-radius: 20px;
  height: 90vh;
  width: 20%;
  margin: 30px 10px;
  padding: 10px;
  margin-left: auto;
  font-size: 16px;
}

#summary_order_panel ul { 
  width: 100%;
  margin: 0;
  padding: 0; 
}

#summary_order_panel li { 
  display: flex;
  margin: 0;
  gap: 10px;
  align-items: center;
  font-size: 14px;
}

.order_value { margin-left: auto; }
.order_total_continer { display: flex; margin-top: auto; }
#order_total_value { margin-left: auto; font-weight: normal;}

/* Panel de los pedidos */
#detail_order_panel {
  width: 80%;
}

#products_panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 15px;
  padding: 20px;
}

.product_option {
  display: flex;
  user-select: none;
  height: 180px;
  border: 2px solid rgb(20, 20, 31);
  background: rgb(22, 22, 34);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}

.product_option h3 {
  position: relative;
  margin-bottom: auto;
}

.product_option:hover {
  border: 2px solid #fff;
  transform: scale(1.03);
}

.product_option img {
  position: absolute;
  width: 80px;
  height: 80px;
  object-fit: contain;
  filter: brightness(0.4);
  transition: filter 0.3s ease, transform 0.3s ease;

  /* Para evitar que se pueda seleccionar la foto */
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none; 
}

.product_option:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.product_option:hover img {
  filter: brightness(1);
  transform: scale(1.1);
}


/* === STOCKMAN === */
#stock_panel {
  display: grid;
  height: 86vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 15fr 1fr;
  gap: 20px;
  padding: 20px;
}

.stock_cat {
  border: 2px solid rgb(20, 20, 31);
  background: rgb(22, 22, 34);
  border-radius: 10px;
  padding: 15px;
}

.stock_cat h2 { margin-top: 0; }

.stock_cat ul {
  padding: 0;
  list-style-type: none;
}

.stock_cat li {
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-top: 1px solid #ddd;
  gap: 6px;
}

/* === NUEVO: texto truncado con tooltip === */
.stock_cat li span {
  display: inline-block;
  max-width: 19ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.stock_counter {
  width: 20%;
  margin-left: auto;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background: rgb(22, 22, 34);
  color: white;
}

#confirm_stock_btn {
  grid-column: 1 / -1;
  justify-self: center;
  padding: 10px 25px;
  background-color: #2e86de;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

#confirm_stock_btn:hover {
  background-color: #1b4f9c;
}
